@import '~normalize.css/normalize.css';
@import '~reset-css/reset.css';

// Your global styles go here, or somewhere else, whatever you want
// Sass usage is optional


.example-class {
  font-size: 50px;
  font-family: 'Trebuchet MS';
  width: 100%;
  padding: 40px;
  color: #ffffff;
  background: #039FD9;
  text-align: center;
}
